<div>
  <h2>Gestión de Sucursales</h2>

  <form
    (ngSubmit)="selectedSucursal ? actualizarSucursal() : registrarSucursal()"
  >
    <input
      type="text"
      [(ngModel)]="newSucursal.nombre"
      name="nombre"
      placeholder="Nombre"
      required
    />
    <input
      type="text"
      [(ngModel)]="newSucursal.direccion"
      name="direccion"
      placeholder="Dirección"
      required
    />
    <button type="submit">
      {{ selectedSucursal ? "Actualizar" : "Registrar" }}
    </button>
  </form>

  <h3>Lista de Sucursales</h3>
  <ul>
    <li *ngFor="let sucursal of sucursales">
      {{ sucursal.nombre }} - {{ sucursal.direccion }}
      <button (click)="editarSucursal(sucursal)">Editar</button>
      <button (click)="eliminarSucursal(sucursal.id)">Eliminar</button>
    </li>
  </ul>
</div>
