/* Ocultar scrollbar en navegadores WebKit (Chrome, Edge, Safari) */
.table-responsive::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
.table-responsive {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge Legacy */
}
