<div class="container-fluid mt-4">
  <div class="row">
    <!-- Columna izquierda: Productos -->
    <div class="col-md-7 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Productos Disponibles</h5>
        </div>
        <div class="card-body">
          <!-- Buscador de productos con filtros -->
          <div class="row align-items-end">
            <!-- Buscar por texto (especie) -->
            <div class="col-md-3 mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar por especie..."
                [(ngModel)]="categoriaBusqueda"
                (input)="filtrar()"
              />
            </div>
            <!-- Filtrar por nombre de producto -->
            <div class="col-md-3 mb-3">
              <select
                class="form-control"
                [(ngModel)]="productoSeleccionado"
                (change)="filtrar()"
              >
                <option [ngValue]="null">-- Buscar por nombre --</option>
                <option
                  *ngFor="let prod of productosOriginales"
                  [ngValue]="prod"
                >
                  {{ prod.especie }}
                </option>
              </select>
            </div>
            <!-- Filtrar por sucursal -->
            <div class="col-md-3 mb-3">
              <select
                class="form-control"
                [(ngModel)]="sucursalFiltrada"
                (change)="filtrar()"
              >
                <option [ngValue]="null">-- Filtrar por sucursal --</option>
                <option *ngFor="let suc of sucursales" [ngValue]="suc">
                  {{ suc.nombre }}
                </option>
              </select>
            </div>
            <!-- Filtrar por categoría -->
            <div class="col-md-3 mb-3">
              <select
                class="form-control"
                [(ngModel)]="categoriaFiltrada"
                (change)="filtrar()"
              >
                <option [ngValue]="null">-- Filtrar por categoría --</option>
                <option *ngFor="let cat of categoria" [ngValue]="cat">
                  {{ cat.nombre }}
                </option>
              </select>
            </div>
            <div class="row justify-content-center my-3">
              <div class="col-auto">
                <button
                  class="btn btn-warning w-100"
                  (click)="limpiarCantidades()"
                >
                  Limpiar Cantidades
                </button>
              </div>
              <div class="col-auto">
                <button class="btn btn-warning w-100" (click)="limpiarTodo()">
                  Limpiar Todo
                </button>
              </div>
            </div>
          </div>
          <!-- Filtros por medidas -->
          <div class="row">
            <!-- Filtro por Ancho -->
            <div class="col-md-4 mb-3">
              <label>Ancho</label>
              <div class="input-group">
                <select
                  class="form-control"
                  [(ngModel)]="unidadAncho"
                  (change)="filtrar()"
                >
                  <option value="">Unidad</option>
                  <option value="plg">Plg</option>
                  <option value="cm">Cm</option>
                  <option value="m">M</option>
                </select>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Valor"
                  [(ngModel)]="valorAncho"
                  (input)="filtrar()"
                />
              </div>
            </div>

            <!-- Filtro por Espesor -->
            <div class="col-md-4 mb-3">
              <label>Espesor</label>
              <div class="input-group">
                <select
                  class="form-control"
                  [(ngModel)]="unidadEspesor"
                  (change)="filtrar()"
                >
                  <option value="">Unidad</option>
                  <option value="plg">Plg</option>
                  <option value="cm">Cm</option>
                  <option value="m">M</option>
                </select>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Valor"
                  [(ngModel)]="valorEspesor"
                  (input)="filtrar()"
                />
              </div>
            </div>

            <!-- Filtro por Largo -->
            <div class="col-md-4 mb-3">
              <label>Largo</label>
              <div class="input-group">
                <select
                  class="form-control"
                  [(ngModel)]="unidadLargo"
                  (change)="filtrar()"
                >
                  <option value="">Unidad</option>
                  <option value="pies">Pies</option>
                  <option value="cm">Cm</option>
                  <option value="m">M</option>
                </select>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Valor"
                  [(ngModel)]="valorLargo"
                  (input)="filtrar()"
                />
              </div>
            </div>
          </div>

          <!-- Tabla de productos -->
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Especie</th>
                  <th>Ancho (plg/cm)</th>
                  <th>Espesor (plg)</th>
                  <th>Largo (pies/m)</th>
                  <th>Cantidad</th>
                  <th>Precio Venta</th>
                  <th>Sucursal</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
                  <th>¿Por metro?</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos">
                  <td>{{ producto.especie }}</td>
                  <td>
                    {{ producto.ancho }} plg /
                    {{ producto.ancho * 2.54 | number: "1.2-2" }} cm
                  </td>
                  <td>{{ producto.espesor }} plg</td>
                  <td>
                    {{ producto.largo }} pies /

                    {{ producto.largo * 0.3048 | number: "1.3-3" }} m
                  </td>

                  <td>{{ producto.cantidad }}</td>
                  <td>Bs {{ producto.precio_venta }}</td>
                  <td>{{ producto.sucursal.nombre }}</td>
                  <td>{{ producto.categoria.nombre }}</td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      [max]="producto.cantidad"
                      min="1"
                      [(ngModel)]="cantidadPorProducto[producto.id]"
                      (ngModelChange)="
                        actualizarCantidadDesdeProducto(producto)
                      "
                      placeholder="Cantidad"
                    />
                  </td>
                  <!-- Reemplazamos la columna "¿Por metro?" con un input de número para metros lineales y debajo el texto con la cantidad en tablas -->
                  <td class="text-center">
                    <input
                      type="number"
                      class="form-control form-control-sm mx-auto"
                      style="max-width: 100px"
                      placeholder="Metros"
                      [(ngModel)]="metrosLineales[producto.id]"
                      (ngModelChange)="
                        calcularUnidadesPorMetro(
                          producto,
                          metrosLineales[producto.id]
                        )
                      "
                      [min]="0"
                    />
                    <div
                      *ngIf="
                        metrosLineales[producto.id] &&
                        metrosLineales[producto.id] > 0
                      "
                      class="mt-1 text-muted"
                      style="font-size: 0.85em"
                    >
                      ≈
                      {{
                        calcularUnidadesPorMetro(
                          producto,
                          metrosLineales[producto.id]
                        )
                      }}
                      tabla(s)
                    </div>
                  </td>

                  <td>
                    <button
                      class="btn btn-outline-success btn-sm"
                      (click)="
                        agregarAlCarrito(
                          producto,
                          cantidadPorProducto[producto.id]
                        )
                      "
                      [disabled]="!producto.estado || producto.cantidad <= 0"
                    >
                      Agregar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha: Registro y carrito -->
    <div class="col-md-5 mb-4">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h5 class="mb-0">Registrar Venta de Madera</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Mostrar Nombre del Usuario -->
            <div class="form-group col-md-6 mb-3">
              <label for="usuario">Usuario Autenticado:</label>
              <input
                type="text"
                class="form-control"
                [value]="nombreUsuario"
                readonly
              />
            </div>

            <!-- Mostrar Nombre de la Sucursal -->
            <div class="form-group col-md-6 mb-3">
              <label for="sucursal">Sucursal Asignada:</label>
              <input
                type="text"
                class="form-control"
                [value]="sucursal ? sucursal.nombre : ''"
                readonly
              />
            </div>
          </div>
          <!-- Carrito -->
          <div *ngIf="detalleVentas.length > 0" id="carritoParaPDF">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr>
                    <th class="border border-1">Producto</th>
                    <th class="border border-1">Cantidad</th>
                    <th class="border border-1">Precio Unitario</th>
                    <th class="border border-1">Subtotal</th>
                    <th class="border border-1">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let detalle of detalleVentas"
                    class="border border-1"
                  >
                    <td class="border border-1">
                      {{ detalle.producto.especie }}
                    </td>
                    <td class="border border-1">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        [(ngModel)]="detalle.cantidad_vendida"
                        (ngModelChange)="
                          actualizarCantidadDesdeCarrito(detalle)
                        "
                        [min]="1"
                        [max]="detalle.producto.cantidad"
                      />
                    </td>
                    <td class="border border-1">
                      Bs {{ detalle.precio_unitario }}
                    </td>
                    <td class="border border-1">
                      Bs {{ detalle.subtotal | number: "1.2-2" }}
                    </td>
                    <td class="border border-1">
                      <button
                        class="btn btn-outline-danger btn-sm"
                        (click)="quitarDelCarrito(detalle.producto.id)"
                      >
                        Quitar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Total -->
            <div class="text-end mt-2">
              <h5>
                <span>Total: {{ totalVenta | number: "1.2-2" }} Bs</span>
              </h5>
            </div>
          </div>

          <!-- Botón para registrar venta -->
          <div class="text-center mt-4">
            <button class="btn btn-primary" (click)="imprimirPDFCarrito()">
              Cotizar
            </button>
            <button
              class="btn btn-outline-primary me-2"
              [disabled]="
                detalleVentas.length === 0 || !usuarioSeleccionado || !sucursal
              "
              (click)="registrarVenta()"
            >
              Registrar Venta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Éxito -->
<app-ok
  *ngIf="mensajeExito"
  [mensaje]="mensajeExito"
  (close)="manejarOk()"
></app-ok>

<!-- Modal de Error -->
<app-error
  *ngIf="mensajeError"
  [mensaje]="mensajeError"
  (close)="manejarError()"
></app-error>
