/* *********************** */
/* Esto es para los input  */
/* *********************** */

/* Estilo para la celda */
.input-cell {
  padding: 0;
  margin: 0;
  height: 40px;
}

/* Estilo general para el input */
.full-width-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  margin: 0;
  outline: none; /* Elimina el contorno azul al enfocar */
  box-shadow: none !important; /* Elimina sombras como la verde o azul de Bootstrap */
}

/* Eliminar bordes y efectos de focus también cuando está activo */
.full-width-input:focus {
  outline: none;
  border: none;
  box-shadow: none !important;
}

/* Ocultar flechas en inputs de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* En Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Para inputs de tipo texto si también los usas */
input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-shadow: none;
}
