<h2 class="mb-4 text-primary text-center">Reporte de Ventas</h2>

<!-- Mostrar campos de fecha y hora cuando se selecciona "rango" -->
<div class="row mb-3 justify-content-center">
  <div class="col-md-3">
    <label>Desde:</label>
    <input
      type="datetime-local"
      [(ngModel)]="fechaInicio"
      class="form-control"
      (change)="generarReporteVentas()"
    />
  </div>
  <div class="col-md-3">
    <label>Hasta:</label>
    <input
      type="datetime-local"
      [(ngModel)]="fechaFin"
      class="form-control"
      (change)="generarReporteVentas()"
    />
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col-md-2">
      <label>Vendedor:</label>
      <select
        class="form-control"
        [(ngModel)]="vendedorFiltro"
        (change)="generarReporteVentas()"
      >
        <option value="">Todos</option>
        <option *ngFor="let v of vendedores" [value]="v">{{ v }}</option>
      </select>
    </div>

    <div class="col-md-2">
      <label>Sucursal:</label>
      <select
        class="form-control"
        [(ngModel)]="sucursalFiltro"
        (change)="vendedorFiltro = ''; generarReporteVentas()"
      >
        <option value="">Todas</option>
        <option *ngFor="let s of sucursales" [value]="s">{{ s }}</option>
      </select>
    </div>

    <div class="col-md-2">
      <label>Categoría:</label>
      <select
        class="form-control"
        [(ngModel)]="categoriaFiltro"
        (change)="generarReporteVentas()"
      >
        <option value="">Todas</option>
        <option *ngFor="let c of categorias" [value]="c">{{ c }}</option>
      </select>
    </div>

    <div class="col-md-2">
      <label>Especie:</label>
      <select
        class="form-control"
        [(ngModel)]="especieFiltro"
        (change)="generarReporteVentas()"
      >
        <option value="">Todas</option>
        <option *ngFor="let e of especies" [value]="e">{{ e }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn-danger w-100" (click)="limpiarFiltros()">
      <i class="bi bi-x-circle-fill"></i> Limpiar filtros
    </button>
  </div>
</div>

<!-- TABLA -->
<div
  id="reporteVentas"
  class="table-responsive rounded border p-3 mb-4 bg-white"
>
  <table class="table table-bordered text-center align-middle">
    <thead class="table-primary">
      <tr>
        <th>Fecha</th>
        <th>Vendedor</th>
        <th>Sucursal</th>
        <th>Categoria</th>
        <th>Especie</th>
        <th>Subtotal (Bs)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of mostradas">
        <td>{{ detalle.venta.fecha | date: "dd/MM/yyyy HH:mm" }}</td>
        <td class="text-start">
          {{ detalle.venta.vendedor.nombre }}
          {{ detalle.venta.vendedor.apellido }}
        </td>
        <td class="text-start">{{ detalle.venta.sucursal.nombre }}</td>
        <td class="text-start">{{ detalle.producto.categoria.nombre }}</td>
        <td class="text-start">{{ detalle.producto.especie }}</td>
        <td>{{ detalle.subtotal | number: "1.2-2" }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5" class="text-end"><strong>Total General:</strong></td>
        <td colspan="6">
          <strong>{{ totalVentas | number: "1.2-2" }} Bs</strong>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="text-center mb-5">
  <button class="btn btn-success m-3" (click)="descargarPDF('reporteVentas')">
    Descargar PDF
  </button>
  <button class="btn btn-primary m-3" (click)="imprimirPDF('reporteVentas')">
    Imprimir Reporte
  </button>
</div>
