<section class="layout">
  <!-- Navbar (header) -->
  <nav class="navbar navbar-expand-md header bg-light" style="z-index: 1030">
    <div class="container-fluid mx-2">
      <button class="btn d-md-none me-2" (click)="toggleSidebar()" title="Menú">
        <i class="bi bi-list fs-2 text-dark"></i>
      </button>
      <div class="ms-auto d-flex align-items-center gap-2">
        <button
          class="btn rounded-circle d-flex justify-content-center align-items-center"
          style="width: 40px; height: 40px"
          title="Cerrar Sesión"
          (click)="logout()"
        >
          <i class="fas fa-power-off text-danger fs-4"></i>
        </button>
      </div>
    </div>
  </nav>
  <!-- Sidebar (leftSide) -->
  <aside
    class="leftSide bg-light p-3"
    [class.show]="isSidebarVisibleOnSmallScreens"
  >
    <div class="mb-3">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/LogoBarracaTransparente.png"
          alt=""
          style="max-width: 80px"
        />
      </div>

      <hr class="text-dark" />
      <p class="text-dark mb-0">Nombre: Andres</p>
      <p class="text-dark">Rol: Andres</p>
      <hr class="text-dark" />
    </div>

    <ul class="list-group">
      <li class="d-flex align-items-center">
        <div class="col-auto pe-2">
          <i class="bi bi-cart fs-2 text-dark"></i>
        </div>
        <div class="col text-start">
          <a
            routerLink="/app-panel-control/vender"
            class="text-dark text-decoration-none"
            (click)="closeSidebarOnMobile()"
          >
            vender
          </a>
        </div>
      </li>
      <!-- Gestión de Usuarios -->
      <li
        class="d-flex align-items-center"
        (click)="toggleSection('GestióndeUsuarios')"
        style="cursor: pointer"
      >
        <div class="col-auto pe-2">
          <i class="bi bi-people fs-2 text-dark"></i>
        </div>
        <div class="col text-start">
          <span class="text-dark">Gestión de Usuarios</span>
        </div>
        <div class="col-auto pe-2">
          <i
            class="bi"
            [ngClass]="
              isActive('GestionDeUsuarios')
                ? 'bi-chevron-down'
                : 'bi-chevron-right'
            "
            class="text-dark"
          ></i>
        </div>
      </li>
      <ul class="list-group ps-3" *ngIf="isActive('GestióndeUsuarios')">
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-building fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-sucursal"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Sucursal</a
            >
          </div>
        </li>
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-shield-lock fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-rol"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Rol</a
            >
          </div>
        </li>
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-key fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-permiso"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Permiso</a
            >
          </div>
        </li>
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-person-badge fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-usuario"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Usuarios</a
            >
          </div>
        </li>
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-person-lines-fill fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-usuario-rol-sucursal"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Usuario Rol Sucursal</a
            >
          </div>
        </li>
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-shield-check fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-rol-permiso"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
              >Rol Permiso</a
            >
          </div>
        </li>
      </ul>

      <!-- Productos -->
      <li
        class="d-flex align-items-center"
        (click)="toggleSection('productos')"
        style="cursor: pointer"
      >
        <div class="col-auto pe-2">
          <i class="bi bi-box fs-2 text-dark"></i>
        </div>
        <div class="col text-start">
          <span class="text-dark">Productos</span>
        </div>
        <div class="col-auto pe-2">
          <i
            class="bi"
            [ngClass]="
              isActive('productos') ? 'bi-chevron-down' : 'bi-chevron-right'
            "
            class="text-dark"
          ></i>
        </div>
      </li>

      <ul class="list-group ps-3" *ngIf="isActive('productos')">
        <!-- Usuario Forestal -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-people fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-producto-madera"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Producto Madera
            </a>
          </div>
        </li>

        <!-- Venta -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-cash-coin fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-venta"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Venta
            </a>
          </div>
        </li>

        <!-- Detalle Venta -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-receipt fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-detalle-venta"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Detalle Venta
            </a>
          </div>
        </li>
        <!-- Factura recivo -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-receipt fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/listar-factura-recibo"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Facturas Recivos
            </a>
          </div>
        </li>
      </ul>
      <!-- Reportes -->
      <li
        class="d-flex align-items-center"
        (click)="toggleSection('reportes')"
        style="cursor: pointer"
      >
        <div class="col-auto pe-2">
          <i class="bi bi-bar-chart-line fs-2 text-dark"></i>
        </div>
        <div class="col text-start">
          <span class="text-dark">Reportes</span>
        </div>
        <div class="col-auto pe-2">
          <i
            class="bi"
            [ngClass]="
              isActive('reportes') ? 'bi-chevron-down' : 'bi-chevron-right'
            "
            class="text-dark"
          ></i>
        </div>
      </li>
      <ul class="list-group ps-3" *ngIf="isActive('reportes')">
        <!-- Reporte de Ventas -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-receipt fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/reporte-venta"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Reporte de Ventas
            </a>
          </div>
        </li>

        <!-- Reporte de Inventario -->
        <li class="d-flex align-items-center">
          <div class="col-auto pe-2">
            <i class="bi bi-clipboard-data fs-2 text-dark"></i>
          </div>
          <div class="col text-start">
            <a
              routerLink="/app-panel-control/reporte-inventario"
              class="text-dark text-decoration-none"
              (click)="closeSidebarOnMobile()"
            >
              Reporte de Inventario
            </a>
          </div>
        </li>
      </ul>
    </ul>
  </aside>

  <!-- Contenido principal (body) -->
  <main class="body p-2">
    <div class="text-center" style="margin-top: 10px; width: 100%">
      <router-outlet></router-outlet>
    </div>
  </main>
</section>
