<div class="container py-4">
  <div class="card shadow rounded-4 mx-auto" style="max-width: 700px">
    <div class="card-body">
      <h3 class="card-title mb-4 text-center text-success">
        Registrar Producto de Madera
      </h3>

      <form [formGroup]="form" (ngSubmit)="registrar()">
        <div class="row g-3">
          <!-- Especie -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Especie</label>
            <input
              type="text"
              class="form-control"
              formControlName="especie"
              placeholder="Ingrese la especie"
              (input)="form.get('especie')?.markAsTouched()"
              [class.is-invalid]="
                form.get('especie')?.invalid && form.get('especie')?.touched
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('especie')?.invalid &&
                (form.get('especie')?.dirty || form.get('especie')?.touched)
              "
            >
              <div *ngIf="form.get('especie')?.hasError('required')">
                La especie es requerida
              </div>
              <div *ngIf="form.get('especie')?.hasError('minlength')">
                Mínimo 3 caracteres
              </div>
              <div *ngIf="form.get('especie')?.hasError('maxlength')">
                Máximo 50 caracteres
              </div>
              <div *ngIf="form.get('especie')?.hasError('soloTexto')">
                Solo se permiten letras y espacios
              </div>
              <div *ngIf="form.get('especie')?.hasError('productoDuplicado')">
                Ya existe un producto con esta especie, dimensiones y sucursal
              </div>
              <div *ngIf="form.get('especie')?.hasError('errorConsulta')">
                No se pudo verificar la existencia del producto
              </div>
              <div *ngIf="form.get('especie')?.hasError('formatoInvalido')">
                El formato debe ser como "Almendrillo", con solo una mayúscula
                al inicio de cada palabra
              </div>
            </div>
          </div>

          <!-- Cantidad -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Cantidad</label>
            <input
              type="number"
              class="form-control"
              formControlName="cantidad"
              placeholder="Cantidad en unidades"
              (input)="form.get('cantidad')?.markAsTouched()"
              [class.is-invalid]="
                form.get('cantidad')?.invalid && form.get('cantidad')?.touched
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('cantidad')?.touched && form.get('cantidad')?.invalid
              "
            >
              <div *ngIf="form.get('cantidad')?.hasError('required')">
                La cantidad es requerida
              </div>
              <div *ngIf="form.get('cantidad')?.hasError('min')">
                El valor mínimo permitido es 1 unidad
              </div>
              <div *ngIf="form.get('cantidad')?.hasError('max')">
                El valor máximo permitido es 1000 unidades
              </div>
              <div *ngIf="form.get('cantidad')?.hasError('soloNumeros')">
                Solo se permiten números enteros positivos
              </div>
            </div>
          </div>

          <!-- Ancho, Espesor, Largo en una sola fila -->
          <div class="col-12">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label fw-semibold">Ancho (Plg)</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="ancho"
                  placeholder="Pulgadas"
                  (input)="form.get('ancho')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('ancho')?.invalid && form.get('ancho')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('ancho')?.invalid &&
                    (form.get('ancho')?.dirty || form.get('ancho')?.touched)
                  "
                >
                  <div *ngIf="form.get('ancho')?.hasError('required')">
                    El ancho es requerido
                  </div>
                  <div *ngIf="form.get('ancho')?.hasError('min')">
                    El valor mínimo permitido es 1 pulgada
                  </div>
                  <div *ngIf="form.get('ancho')?.hasError('max')">
                    El valor máximo permitido es 100 pulgadas
                  </div>
                  <div *ngIf="form.get('ancho')?.hasError('soloNumeros')">
                    Solo se permiten números enteros positivos
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Espesor (Plg)</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="espesor"
                  placeholder="Pulgadas"
                  (input)="form.get('espesor')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('espesor')?.invalid && form.get('espesor')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('espesor')?.invalid &&
                    (form.get('espesor')?.dirty || form.get('espesor')?.touched)
                  "
                >
                  <div *ngIf="form.get('espesor')?.hasError('required')">
                    El espesor es requerido
                  </div>
                  <div *ngIf="form.get('espesor')?.hasError('min')">
                    El valor mínimo permitido es 1 pulgada
                  </div>
                  <div *ngIf="form.get('espesor')?.hasError('max')">
                    El valor máximo permitido es 100 pulgadas
                  </div>
                  <div *ngIf="form.get('espesor')?.hasError('soloNumeros')">
                    Solo se permiten números enteros positivos
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Largo (Pies)</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="largo"
                  placeholder="Pies"
                  (input)="form.get('largo')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('largo')?.invalid && form.get('largo')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('largo')?.invalid &&
                    (form.get('largo')?.dirty || form.get('largo')?.touched)
                  "
                >
                  <div *ngIf="form.get('largo')?.hasError('required')">
                    El largo es requerido
                  </div>
                  <div *ngIf="form.get('largo')?.hasError('min')">
                    El valor mínimo permitido es 1 pie
                  </div>
                  <div *ngIf="form.get('largo')?.hasError('max')">
                    El valor máximo permitido es 100 pies
                  </div>
                  <div *ngIf="form.get('largo')?.hasError('soloNumeros')">
                    Solo se permiten números enteros positivos
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Precio Compra, Barraca, Venta en una sola fila -->
          <div class="col-12">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Compra</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_compra"
                  placeholder="Bs"
                  (input)="form.get('precio_compra')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('precio_compra')?.invalid &&
                    form.get('precio_compra')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('precio_compra')?.invalid &&
                    (form.get('precio_compra')?.dirty ||
                      form.get('precio_compra')?.touched)
                  "
                >
                  <div *ngIf="form.get('precio_compra')?.hasError('required')">
                    El precio de compra es requerido
                  </div>
                  <div *ngIf="form.get('precio_compra')?.hasError('min')">
                    El valor mínimo permitido es 0 Bs
                  </div>
                  <div *ngIf="form.get('precio_compra')?.hasError('max')">
                    El valor máximo permitido es 100000 Bs
                  </div>
                  <div
                    *ngIf="form.get('precio_compra')?.hasError('soloNumeros')"
                  >
                    Solo se permiten números positivos
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Barraca</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_barraca"
                  placeholder="Bs"
                  (input)="form.get('precio_barraca')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('precio_barraca')?.invalid &&
                    form.get('precio_barraca')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('precio_barraca')?.invalid &&
                    (form.get('precio_barraca')?.dirty ||
                      form.get('precio_barraca')?.touched)
                  "
                >
                  <div *ngIf="form.get('precio_barraca')?.hasError('required')">
                    El precio de barraca es requerido
                  </div>
                  <div *ngIf="form.get('precio_barraca')?.hasError('min')">
                    El valor mínimo permitido es 0 Bs
                  </div>
                  <div *ngIf="form.get('precio_barraca')?.hasError('max')">
                    El valor máximo permitido es 100000 Bs
                  </div>
                  <div
                    *ngIf="form.get('precio_barraca')?.hasError('soloNumeros')"
                  >
                    Solo se permiten números positivos
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Venta</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_venta"
                  placeholder="Bs"
                  (input)="form.get('precio_venta')?.markAsTouched()"
                  [class.is-invalid]="
                    form.get('precio_venta')?.invalid &&
                    form.get('precio_venta')?.touched
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('precio_venta')?.invalid &&
                    (form.get('precio_venta')?.dirty ||
                      form.get('precio_venta')?.touched)
                  "
                >
                  <div *ngIf="form.get('precio_venta')?.hasError('required')">
                    El precio de venta es requerido
                  </div>
                  <div *ngIf="form.get('precio_venta')?.hasError('min')">
                    El valor mínimo permitido es 0 Bs
                  </div>
                  <div *ngIf="form.get('precio_venta')?.hasError('max')">
                    El valor máximo permitido es 100000 Bs
                  </div>
                  <div
                    *ngIf="form.get('precio_venta')?.hasError('soloNumeros')"
                  >
                    Solo se permiten números positivos
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Sucursal -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Sucursal</label>
            <select class="form-select" formControlName="sucursal">
              <option value="">Seleccione una sucursal</option>
              <option *ngFor="let sucursal of sucursal" [value]="sucursal.id">
                {{ sucursal.nombre }}
              </option>
            </select>
          </div>

          <!-- Categoria -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Categoria</label>
            <select class="form-select" formControlName="categoria">
              <option value="">Seleccione una sucursal</option>
              <option
                *ngFor="let categoria of categoria"
                [value]="categoria.id"
              >
                {{ categoria.nombre }}
              </option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div
          class="d-flex flex-column flex-md-row justify-content-between gap-2 mt-4"
        >
          <button
            class="btn btn-outline-secondary w-100"
            type="button"
            (click)="volver()"
          >
            <i class="bi bi-arrow-left-circle me-2"></i> Volver
          </button>

          <button
            class="btn btn-primary w-100"
            type="submit"
            [disabled]="form.invalid"
          >
            <i class="bi bi-save me-2"></i> Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal de Éxito -->
<app-ok
  *ngIf="mensajeExito"
  [mensaje]="mensajeExito"
  (close)="manejarOk()"
></app-ok>

<!-- Modal de Error -->
<app-error
  *ngIf="mensajeError"
  [mensaje]="mensajeError"
  (close)="manejarError()"
></app-error>
