<div class="container py-4">
  <div class="card shadow rounded-4 mx-auto" style="max-width: 700px">
    <div class="card-body">
      <h3 class="card-title mb-4 text-center text-success">
        Registrar Producto de Madera
      </h3>

      <form [formGroup]="form" (ngSubmit)="registrar()">
        <div class="row g-3">
          <!-- Especie -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Especie</label>
            <input
              type="text"
              class="form-control"
              formControlName="especie"
              placeholder="Ingrese la especie"
            />
          </div>

          <!-- Cantidad -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Cantidad</label>
            <input
              type="number"
              class="form-control"
              formControlName="cantidad"
              placeholder="Cantidad en unidades"
            />
          </div>

          <!-- Ancho, Espesor, Largo en una sola fila -->
          <div class="col-12">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label fw-semibold">Ancho</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="ancho"
                  placeholder="Pulgadas"
                />
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Espesor</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="espesor"
                  placeholder="Pulgadas"
                />
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Largo</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="largo"
                  placeholder="Pies"
                />
              </div>
            </div>
          </div>

          <!-- Precio Compra, Barraca, Venta en una sola fila -->
          <div class="col-12">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Compra</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_compra"
                  placeholder="Bs"
                />
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Barraca</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_barraca"
                  placeholder="Bs"
                />
              </div>
              <div class="col-md-4">
                <label class="form-label fw-semibold">Precio Venta</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="precio_venta"
                  placeholder="Bs"
                />
              </div>
            </div>
          </div>

          <!-- Sucursal -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Sucursal</label>
            <select class="form-select" formControlName="sucursal">
              <option value="">Seleccione una sucursal</option>
              <option *ngFor="let sucursal of sucursal" [value]="sucursal.id">
                {{ sucursal.nombre }}
              </option>
            </select>
          </div>

          <!-- Categoria -->
          <div class="col-md-6">
            <label class="form-label fw-semibold">Categoria</label>
            <select class="form-select" formControlName="categoria">
              <option value="">Seleccione una sucursal</option>
              <option
                *ngFor="let categoria of categoria"
                [value]="categoria.id"
              >
                {{ categoria.nombre }}
              </option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div
          class="d-flex flex-column flex-md-row justify-content-between gap-2 mt-4"
        >
          <button
            class="btn btn-outline-secondary w-100"
            type="button"
            (click)="volver()"
          >
            <i class="bi bi-arrow-left-circle me-2"></i> Volver
          </button>

          <button
            class="btn btn-primary w-100"
            type="submit"
            [disabled]="form.invalid"
          >
            <i class="bi bi-save me-2"></i> Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
