<div class="container-fluid mt-4">
  <button class="btn btn-primary p-3 float-end" (click)="manejarOk()">
    <i class="fas fa-arrow-left me-2"></i> Volver a la factura
  </button>

  <div class="row">
    <!-- Columna izquierda: Lista de Ventas -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Lista de Ventas</h5>
        </div>
        <div class="card-body">
          <!-- Filtro para mostrar ventas -->
          <select
            class="form-select mb-3"
            [(ngModel)]="filtroVenta"
            (change)="filtrarVentas()"
          >
            <option value="ultima">Mostrar última venta</option>
            <option value="todo">Mostrar todas las ventas</option>
          </select>

          <!-- Buscador para ventas -->
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Buscar por nombre del vendedor..."
            [(ngModel)]="busquedaVentas"
            (input)="filtrarVentas()"
          />

          <!-- Tabla de ventas filtradas -->
          <!-- Tabla de ventas filtradas -->
          <div
            class="table-responsive"
            style="max-height: 400px; overflow-y: auto"
          >
            <!-- TABLA 1 -->
            <table class="table table-bordered table-hover text-center mb-0">
              <thead class="table-primary">
                <tr>
                  <th>ID</th>
                  <th>Total (Bs)</th>
                  <th>Fecha</th>
                  <th>Vendedor</th>
                  <th>Sucursal</th>
                  <th>R/F</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let venta of ventasMostradas"
                  [ngClass]="{
                    'table-warning':
                      tipoDocumentoParaVenta(venta.id) === 'recibo',
                    'table-success':
                      tipoDocumentoParaVenta(venta.id) === 'factura',
                    'table-light': tipoDocumentoParaVenta(venta.id) === '',
                  }"
                >
                  <td>{{ venta.id }}</td>
                  <td>{{ venta.total | number: "1.2-2" }}</td>
                  <td>{{ venta.fecha | date: "dd/MM/yyyy HH:mm" }}</td>
                  <td>
                    {{ venta.vendedor.nombre }} {{ venta.vendedor.apellido }}
                  </td>
                  <td>{{ venta.sucursal.nombre }}</td>
                  <td>{{ obtenerTipoDocumento(venta) }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-success m-3"
                      (click)="generarFactura(venta)"
                    >
                      Generar Factura
                    </button>
                    <button
                      class="btn btn-sm btn-info"
                      (click)="generarRecibo(venta)"
                    >
                      Generar Recibo
                    </button>
                  </td>
                </tr>

                <tr *ngIf="ventasMostradas.length === 0">
                  <td colspan="7" class="text-muted text-center">
                    No hay ventas para mostrar.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha: Formulario para registrar factura o recibo -->
    <div
      class="col-md-6"
      *ngIf="modoFormulario === 'factura' || modoFormulario === 'recibo'"
    >
      <div class="card">
        <!-- Cabecera -->
        <div
          class="card-header bg-success text-white d-flex justify-content-between align-items-center"
        >
          <!-- Título del tipo de documento -->
          <h5 class="mb-0">{{ tipoDocumentoSeleccionado | titlecase }}</h5>

          <!-- ID de la venta -->
          <p class="text-end fw-bold mb-0">
            Venta N° {{ ventaSeleccionada?.id }}
          </p>

          <!-- ID del recibo o factura -->
          <p class="text-end fw-bold mb-0" *ngIf="reciboSeleccionado">
            Factura/Recivo N° {{ reciboSeleccionado.id }}
          </p>
        </div>

        <!-- Cuerpo del formulario -->
        <div class="card-body">
          <!-- Contenedor principal para PDF (SOLO UNO con este ID) -->
          <div
            id="contenidoParaPDF"
            class="container-fluid p-3"
            style="width: 210mm"
          >
            <!-- Logo y Fecha -->
            <div class="row mb-3 align-items-center">
              <h2 class="fw-bold text-uppercase text-end" style="color: green">
                {{
                  tipoDocumentoSeleccionado === "factura" ? "FACTURA" : "RECIBO"
                }}
              </h2>

              <div class="col-6">
                <img
                  src="https://res.cloudinary.com/dtqv5ejlr/image/upload/v1749490014/LogoBarracaTransparente_in88nf.png"
                  alt="Logo de la Empresa"
                  class="img-fluid"
                  style="max-width: 150px"
                />
              </div>

              <div class="col-12 col-md-6 text-end">
                <div class="text-end">
                  <!-- Tabla de Fecha alineada a la derecha -->
                  <div class="d-flex justify-content-end">
                    <table
                      class="table table-bordered border-dark text-center mb-5"
                      style="
                        border-collapse: collapse !important;
                        width: 50%;
                        font-size: 0.7rem;
                      "
                    >
                      <thead class="table-primary">
                        <!-- Título de fecha con texto más grande y sin bordes -->
                        <p
                          class="fw-bold text-start mb-2"
                          style="font-size: 1rem; margin-bottom: 0.5rem"
                        >
                          Fecha:
                        </p>

                        <tr>
                          <th class="border-dark border-1 p-2">Día</th>
                          <th class="border-dark border-1 p-2">Mes</th>
                          <th class="border-dark border-1 p-2">Año</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="border-dark border-1 p-2">
                            {{ fechaHoy | date: "dd" }}
                          </td>
                          <td class="border-dark border-1 p-2">
                            {{ fechaHoy | date: "MMMM" }}
                          </td>
                          <td class="border-dark border-1 p-2">
                            {{ fechaHoy | date: "yyyy" }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Contacto -->
              <div class="mb-3">
                <strong>CELL:</strong> +591 77777777 - 72937437 <br />
                <small>SUCURSALES: Sucursal 1, Sucursal 2</small>
              </div>

              <!-- Formulario -->
              <!-- Formulario -->
              <form>
                <div class="mb-3">
                  <label for="nombre_cliente" class="form-label"
                    >Nombre del Cliente:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="nombre_cliente"
                    name="nombre_cliente"
                    maxlength="100"
                    required
                    (keypress)="soloLetrasNumerosEspacios($event)"
                    (ngModelChange)="verificarCoincidenciasCliente()"
                    title="Solo se permiten letras, números y espacios (hasta 100 caracteres)"
                  />
                </div>

                <div class="mb-3">
                  <label for="ci_nit" class="form-label">CI/NIT:</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="ci_nit"
                    name="ci_nit"
                    maxlength="15"
                    required
                    pattern="^[0-9]{1,15}$"
                    (keypress)="soloNumeros($event)"
                    (paste)="evitarPegadoInvalidoNumeros($event)"
                    (ngModelChange)="verificarCoincidenciasCliente()"
                    title="Solo se permiten números (hasta 15 dígitos)"
                  />
                </div>
              </form>

              <!-- Tabla de Detalles de Productos -->
              <table
                class="table table-bordered border-1 border-dark text-center mb-0"
                style="border-collapse: collapse !important"
              >
                <thead class="table-primary">
                  <tr>
                    <th class="border-dark border-1 p-2" style="width: 10%">
                      CANT.
                    </th>
                    <th class="border-dark border-1 p-2" style="width: 50%">
                      DETALLE
                    </th>
                    <th class="border-dark border-1 p-2" style="width: 20%">
                      P/UNIT.
                    </th>
                    <th class="border-dark border-1 p-2" style="width: 20%">
                      TOTAL
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detallesVenta">
                    <td class="border-dark border-1 p-2">
                      {{ item.cantidad_vendida }}
                    </td>
                    <td class="border-dark border-1 p-2">
                      {{ item.producto.especie }} -
                      {{ item.producto.categoria.nombre }} -
                      {{ item.producto.ancho }}x{{ item.producto.espesor }}x{{
                        item.producto.largo
                      }}
                    </td>
                    <td class="border-dark border-1 p-2">
                      {{ item.precio_unitario }}
                    </td>
                    <td class="border-dark border-1 p-2">
                      {{ item.subtotal }}
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="ventaSeleccionada">
                  <tr>
                    <td colspan="3" class="text-end border-dark border-1 p-2">
                      <strong>TOTAL Bs.</strong>
                    </td>
                    <td class="border-dark border-1 p-2">
                      <strong
                        >{{
                          ventaSeleccionada.total | number: "1.2-2"
                        }}
                        Bs</strong
                      >
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- Cierre del div con id="contenidoParaPDF" -->
          </div>
          <div *ngIf="coincidenciasCliente > 0" class="alert alert-info mt-2">
            Hay {{ coincidenciasCliente }} registro(s) existentes con ese nombre
            y CI/NIT.
          </div>

          <!-- Botones DENTRO del card-body pero FUERA del contenidoParaPDF -->
          <div class="d-flex justify-content-between mt-3 no-export">
            <button class="btn btn-primary" (click)="imprimirDocumentoPDF()">
              Descargar PDF
            </button>
            <button
              class="btn btn-primary"
              (click)="imprimirDocumentoPDFDireto()"
            >
              Imprimir PDF
            </button>
            <button class="btn btn-success" (click)="guardarDocumento()">
              Guardar Documento
            </button>
            <button class="btn btn-secondary" (click)="cancelarFormulario()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
